# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js Build Artifacts
.next/
out/
build/

# Environment Variables
.env
.env.local
.env.*.local

# Databases & Logs
*.sqlite
*.sqlite-journal
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS/IDE files
.DS_Store
.vscode/
.idea/

# Rust build artifacts
target/
**/*.rs.bk